.is-editor-mode {
    height: 100%;
    overflow: hidden;
    .main-content {
        height: 100vh;
    }
    .render_zone {
        overflow-y: auto;
       .row:nth-child(2) .col-12, .row:nth-child(2):not(.visual_element_block) {
            min-height: 100%;
        }
    }
    [data-visual-element] {
        // padding:10px;
    }
    .title_zone {
        font-size: 40px;
    }
    [contenteditable] {
        outline: none;
    }
}

.toolbar-element {
    position: absolute;
    top:-50px;
    left: 0;

    .btn {
        font-size: 12px;
    }
}

.render_zone {
    position:relative;
}

.visual_element_block[data-visual-element] {
    min-height: 60px;
    border: 1px solid red;
}

[data-editor] {
    // background-color: red;
    // overflow-x: hidden;
    // overflow-y: auto;
    height: 100%;

    .sidebar {
        position: fixed;
        width: 350px;
        top: 0;
        bottom: 0;
        transition: .2s all ease;
        opacity: 0;
        overflow-x: hidden;
        pointer-events: none;
        overflow-y: auto;
        z-index: 3;
        padding: 20px;
        box-shadow: $box-shadow;
        background-color: map-get($theme-colors, 'secondary');
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
        &.sidebar_widgets {
            left: -99px;
            &.active {
                left: 0;
            }
        }
        &.sidebar_controls {
            right: -99px;
            &.active {
                right: 0;
            }
        }

    }
}
